input[type="password"]::-ms-reveal { display: none; }
.preview-image {
    max-width: 100%;
    max-height: 100px; /* Ajusta esta altura según tus necesidades */
    width: auto;
    height: auto;
    object-fit: contain; 
  }

  .preview-image-banner {
    max-width: 100%;
    max-height: 100%; /* Ajusta esta altura según tus necesidades */
    width: auto;
    height: auto;
    object-fit: contain; 
  }
 
  @media (max-width: 900px) {
    .contenedores {
        display: block;
    }

    .contenedor {
        width: 100%;
        display: none;
    }

    .contenedor.active {
        display: block;
    }

    .navegacion {
        justify-content: space-between;
    }

    .border-red-500 {
        border-color: #ef4444;
      }
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#FA7D00 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#FA7D00);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}