.main-timeline-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 20px;
  justify-content: center;
}

.main-timeline-container .timeline {
  position: relative;
  background-color: #e63946;
  height: 50px;
  width: 160px;
  justify-content: center;
  align-items: center;
}

.main-timeline-container .timeline::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 22px solid rgb(255, 255, 255);
}

.main-timeline-container .timeline::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 30px solid;
  background-color: white;
  color: #e63946;

  
}

.main-timeline-container .timeline-content {
  padding: 20px;
  color: #000000;
}

.main-timeline-container .timeline-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(253, 20, 20, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #e63946;
  z-index: 2;
}

/* Ajustes de longitud para campos 1, 2, 3, 5, 6, 7 */
.main-timeline-container .timeline-1,
.main-timeline-container .timeline-2,
.main-timeline-container .timeline-3{
  width: 300px; /* Incrementar longitud */
  display: inline-block;
}



/* Estilo específico para el campo 4 */
.main-timeline-container .timeline-4 {
  width: 160px;
  height: 300px;
  border-radius: 0 300px 300px 0;
  border: 50px solid #8cc63f;
  border-left: none;
  background-color: transparent;
  margin-bottom: 0;
  margin-left: 20px; /* Reducir la distancia para acercarlo al campo 3 */
  position: relative;
  display: inline-block;
}

.main-timeline-container .timeline-4::before {
  display: none; /* Esconde la pseudo-clase ::before */
}
.main-timeline-container .timeline-4::after {
  display: none; /* Esconde la pseudo-clase ::before */
}

/* campos 5, 6 ,7 y 8 */

.main-timeline-container .timeline-6,
.main-timeline-container .timeline-5,
.main-timeline-container .timeline-7,
.main-timeline-container .timeline-8 {
  width: 300px; /* Incrementar longitud */
  display: inline-block;
  margin-top: -50px; /* Ajusta este valor para alinear con el final del campo 4 */

}


.main-timeline-container .timeline-5 {
  position: relative;
  left: 600px; /* Mueve el campo 5 hacia la derecha */
}

/* Campo 7: Colocarlo en la posición del campo 5 */
.main-timeline-container .timeline-7 {
  position: relative;
  left: -600px; /* Mueve el campo 7 hacia la izquierda */
}

.main-timeline-container .timeline-8 {
  width: 160px;
  height: 300px;
  border-radius: 300px 0 0 300px; /* This changes the curve direction */
  border: 50px solid #8cc63f;
  border-right: none;
  background-color: transparent !important;
  margin-bottom: 0;
  margin-left: -1090px; /* Adjust this value to properly position element 7 */
  position: relative;
  display: inline-block;

}

.main-timeline-container .timeline-8::after {
  display: none; /* Esconde la pseudo-clase ::before */
}

.main-timeline-container .timeline-8::before {
  display: none; /* Esconde la pseudo-clase ::before */
}



/* Invertir flechas para los campos 5, 6 y 7 */
.main-timeline-container .timeline-5::before,
.main-timeline-container .timeline-6::before,
.main-timeline-container .timeline-7::before {
  right: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  color: white;
  background-color:#e63946;
  border-right:30px solid #ffffff;
  border-left: white;
  

}

.main-timeline-container .timeline-5::after,
.main-timeline-container .timeline-6::after,
.main-timeline-container .timeline-7::after {
  left: 0;
  border-left: none;
  border-right: 30px solid #e63946; 
  background-color: white;
}


/* ---------------------- */






 

















/* @media screen and (max-width:1200px){
    .main-timeline .timeline:after{ border-radius: 88px 0 0 88px; }
    .main-timeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media screen and (max-width:767px){
    .main-timeline .timeline{ margin-top: -19px; }
    .main-timeline .timeline:before {
        border-radius: 50px 0 0 50px;
        border-width: 10px;
    }
    .main-timeline .timeline:after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 43px 0 0 43px;
        border-width:10px;
        top: 9px;
        left: 9px;
    }
    .main-timeline .timeline:nth-child(even):before {
        border-radius: 0 50px 50px 0;
        border-width: 10px;
    }
    .main-timeline .timeline:nth-child(even):after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 0 43px 43px 0;
        border-width: 10px;
        top: 9px;
        right: 9px;
    }
    .main-timeline .timeline-icon{ font-size: 60px; }
    .main-timeline .timeline-year{ font-size: 40px; }
}
@media screen and (max-width:479px){
    .main-timeline .timeline-icon{
        font-size: 50px;
        transform:translateY(0);
        top: 25%;
        left: 10%;
    }
    .main-timeline .timeline-year{
        font-size: 25px;
        transform:translateY(0);
        top: 65%;
        left: 9%;
    }
    .main-timeline .content{
        width: 68%;
        padding: 10px;
    }
    .main-timeline .title{ font-size: 18px; }
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        right: 10%;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        right: 9%;
    }
*/
   
  