<div class="container mx-auto p-0 pt-2">
  <header class="flex flex-col md:flex-row justify-between items-center mb-6 md:pl-4 mt-2">
    <app-header [title] [subtitle]="'Ruta de actividades'"></app-header>
  </header>
  
  <div class="container2">
    <div class="content">
      <div *ngFor="let ruta of rutaList; let i = index">
        <div *ngFor="let actividad of ruta.actividades; let j = index">
      <div class="title">{{actividad.nombre}}</div>
    <div class="circle">
    <div class="icon"></div>
    <div class="number">01</div>
    </div>
  </div>

  </div>