.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;

}

.ruta-item {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  align-items: center;
  position: relative;
}

.right-aligned .content {
  justify-content: flex-start;
}

.left-aligned .content {
  justify-content: flex-end;
}

.circle {
  width: 120px;
  height: 120px;
  background-color: white;
  border: 15px solid #008080;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.number {
  font-size: 24px;
  font-weight: bold;
  color: #008080;
}

.icon {
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-container {
  background-color: #008080;
  border-radius: 25px;
  padding: 10px 20px;
  max-width: 300px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

.right-aligned .title-container {
  margin-left: 15px;
  margin-right: 0;
}

.left-aligned .title-container {
  margin-right: 15px;
  margin-left: 0;
}

.title {
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .right-aligned .content {
    justify-content: flex-start;
  }

  .left-aligned .content {
    justify-content: flex-end;
  }

  .right-aligned .circle {
    order: 1;
  }

  .left-aligned .circle {
    order: 2;
  }

  .right-aligned .title-container {
    order: 2;
  }

  .left-aligned .title-container {
    order: 1;
  }
}
