.container2 {
  display: flex;
  align-items: center;
  background-color: #008080;
  border-radius: 25px 0 0 25px;
  padding: 10px 20px;
  max-width: 300px;
  position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
height: 55px;
  margin-top: 25px;
}

.content {
  flex-grow: 1;
  padding-right: 60px; /* Espacio para el círculo */
}

.title {
  font-weight: bold;
  color: white;
  position: relative;
  padding-bottom: 10px;
}

.title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 2px;
  background-color: white;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: white;
  border: 15px solid #008080;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -45px;
  top: 50%;
  transform: translateY(-50%);
}

.icon {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.number {
  font-size: 32px;
  font-weight: bold;
  color: #008080;
  line-height: 1;
  margin-top: -40px
}