<div class="fixed z-50 inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center p-4">
  <div class="w-full max-w-md p-4 sm:p-6 bg-white rounded-xl font-poppins overflow-y-auto max-h-[90vh]"
    [formGroup]="asignarForm">
    <h2 class="text-[#FA7D00] font-poppins font-semibold text-lg sm:text-xl mb-4">Detalles de la Asesoría</h2>

    <div class="space-y-3 mb-4">
      <div>
        <p class="text-blue-400 font-bold">Nombre:</p>
        <p class="mt-1">{{ data.asesoria.Nombre_sol }}</p>
      </div>
      <div>
        <p class="text-blue-400 font-bold">Notas:</p>
        <p class="mt-1">{{ data.asesoria.notas }}</p>
      </div>
      <div>
        <p class="text-blue-400 font-bold">Fecha de Solicitud:</p>
        <p class="mt-1">{{ data.asesoria.fecha_solicitud }}</p>
      </div>
      <!-- Agrega más campos según sea necesario -->
    </div>

    <div class="mb-4">
      <label class="block mb-2 text-blue-400 font-bold">
        {{ data.asesoria.Asesor ? 'Asesor asignado:' : '¿Cuál de los asesores hará la asesoría?' }}
      </label>
      <ng-container *ngIf="!data.asesoria.Asesor; else asesorAsignado">
        <select formControlName="nom_asesor"
          class="w-full px-3 py-2 text-gray-700 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200">
          <option value="" disabled selected hidden>Seleccione</option>
          <option *ngFor="let asesor of asesores" [value]="asesor.id_asesor">{{ asesor.nombre_completo }}</option>
        </select>
      </ng-container>
      <ng-template #asesorAsignado>
        <p class="w-full px-3 py-2 bg-gray-100 rounded-md">{{ data.asesoria.Asesor }}</p>
      </ng-template>
      <div *ngIf="f['nom_asesor'].invalid && (f['nom_asesor'].dirty || f['nom_asesor'].touched) && submitted"
        class="inline-block p-1 mt-2 mb-1 text-sm text-red-500 rounded-lg bg-red-50" role="alert">
        <div *ngIf="f.nom_asesor.errors.required">Este campo es requerido *</div>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row justify-center space-y-2 sm:space-y-0 sm:space-x-2">
      <ng-container *ngIf="!data.asesoria.Asesor; else soloCancelar">
        <button type="button" (click)="onCancel()"
          class="w-full sm:w-auto bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 transition duration-300">
          Cancelar
        </button>
        <button type="button" (click)="onReject(id_asesoria)"
          class="w-full sm:w-auto bg-[#ff0000] hover:bg-[#e50000] text-white py-2 px-4 rounded transition duration-300">
          Rechazar
        </button>
        <button mat-button (click)="onGuardar()" [disabled]="isSubmitting || asignarForm.invalid"
          class="w-full sm:w-auto bg-[#FA7D00] text-white py-2 px-4 rounded hover:bg-[#E56F00] transition duration-300">
          <span *ngIf="!isSubmitting">Guardar</span>
          <span *ngIf="isSubmitting" class="flex items-center">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
            Guardando...
          </span>
        </button>
      </ng-container>
      <ng-template #soloCancelar>
        <button type="button" (click)="onCancel()"
          class="w-full sm:w-auto bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-600 transition duration-300">
          Cancelar
        </button>
      </ng-template>
    </div>
  </div>
</div>