<div class="pt-4 divide-y divide-light-blue-400 ml-12 mr-4">
    <h1 class="text-xl font-bold mb-4">Bienvenido al panel de crear Actividad</h1>
    <div class="container mx-auto p-0 pt-2 ">
        <div class="col-span-8">
            <!-- <h2 class="text-center my-8">Crear Actividad</h2> -->
            <!-- transicion basada en el estado -->
            <div class="w-full flex items-center justify-center px-4">
                <div class="flex-1 flex flex-col sm:flex-row justify-around text-center mx-2 sm:mx-4">
                    <div *ngFor="let contenedor of [1, 2, 3, 4]; let i = index" class="contenedor mb-2 sm:mb-0"
                        [class.active]="i === currentIndex">
                        <div class="step-number flex items-center justify-center w-8 h-8 border rounded-full mx-auto text-base md:text-xl"
                            [ngClass]="{'text-yellow-500 border-blue-500': i === currentIndex, 'text-gray-400 border-gray-400': i !== currentIndex}">
                            {{ i + 1 }}
                        </div>
                        <ng-container *ngIf="i === 0">
                            <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
                                class=" text-base md:text-1xl  whitespace-nowrap  overflow-hidden font-bold mt-2 truncate">
                                Actividad
                            </h2>
                        </ng-container>
                        <ng-container *ngIf="i === 1">
                            <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
                                class="text-base md:text-1xl whitespace-nowrap overflow-hidden font-bold mt-2 truncate">
                                Nivel
                            </h2>
                        </ng-container>
                        <ng-container *ngIf="i === 2">
                            <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
                                class=" text-base md:text-1xl whitespace-nowrap overflow-hidden font-bold mt-2 truncate">
                                lección
                            </h2>
                        </ng-container>
                        <ng-container *ngIf="i === 3">
                            <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
                                class="text-base md:text-xl whitespace-nowrap overflow-hidden font-bold mt-2 truncate">
                                Contenido
                            </h2>
                        </ng-container>
                    </div>
                </div>
            </div>

            <div>
                <form [formGroup]="actividadForm" (ngSubmit)="addActividadSuperAdmin()" *ngIf="currentIndex === 0" class="space-y-6 w-full">
                    <div class="grid grid-cols-1 gap-4 w-full sm:w-3/4 md:w-2/3 bg-gray-50 rounded-lg shadow-md max-md:p-4 md:px-36 md:py-10 md:my-6 mx-auto"><!--agregar actividad-->
                        <div
                            class="flex flex-col justify-evenly mb-6 md:flex-row items-start  pb-2 md:items-center space-y-2 md:space-y-0 ">
                            <label for="nombre" class="text-lg font-normal md:w-36 md:pr-2">Nombre de la Actividad:</label>
                            <input type="text" id="nombre" formControlName="nombre"
                                class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <div *ngIf="submittedActividad && actividadForm.controls.nombre.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <span *ngIf="actividadForm.controls.nombre.errors.required"
                                    class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido *</span>
                            </div>
                        </div>
                        <div
                            class="flex flex-col justify-evenly mb-6 md:flex-row items-start  pb-2 md:items-center space-y-2 md:space-y-0 ">
                            <label for="descripcion" class="text-lg font-normal md:w-36 md:pr-2">Descripcion Actividad:</label>
                            <textarea type="text" id="descripcion" formControlName="descripcion"
                                class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
                            <div *ngIf="submittedActividad && actividadForm.controls.descripcion.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <span *ngIf="actividadForm.controls.descripcion.errors.required"
                                    class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido *</span>
                            </div>
                        </div>

                        <div
                            class="flex flex-col justify-evenly mb-6 md:flex-row items-start  pb-2 md:items-center space-y-2 md:space-y-0 ">
                            <label for="nombre" class="text-lg font-normal md:w-36 md:pr-2">Tipo de dato:</label>
                            <select id="id_tipo_dato" formControlName="id_tipo_dato"
                                class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option value="" disabled selected>Seleccione el tipo de dato...</option>
                                <option *ngFor="let tipodato of listarTipoDato" [value]="tipodato.id">
                                    {{tipodato.nombre}}</option>
                            </select>
                            <div *ngIf="submittedActividad && actividadForm.controls.id_tipo_dato.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <span *ngIf="actividadForm.controls.id_tipo_dato.errors.required"
                                    class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido *</span>
                            </div>
                        </div>

                        <div
                            class="flex flex-col justify-evenly mb-6 md:flex-row items-start  pb-2 md:items-center space-y-2 md:space-y-0 ">
                            <label for="ruta_multi" class="text-lg font-normal md:w-36 md:pr-2">Ruta Multi:</label>
                            <input type="text" id="ruta_multi" formControlName="ruta_multi"
                                class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                            <div *ngIf="submittedActividad && actividadForm.controls.ruta_multi.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <span *ngIf="actividadForm.controls.ruta_multi.errors.required"
                                    class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido *</span>
                            </div>
                        </div>

                        <div
                            class="flex flex-col justify-evenly mb-6 md:flex-row items-start pb-2 md:items-center space-y-2 md:space-y-0 ">
                            <label for="nombre" class="text-lg font-normal md:w-36 md:pr-2">Aliado:</label>
                            <select id="id_tipo_dato" formControlName="id_aliado" (change)="onAliadoChange($event)"
                                class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option value="" disabled selected>Seleccione el Aliado...</option>
                                <option *ngFor="let aliado of listarAliadoo" [value]="aliado.id">
                                    {{aliado.nombre}}
                                </option>
                            </select>
                            <div *ngIf="submittedActividad && actividadForm.controls.id_aliado.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <span *ngIf="actividadForm.controls.id_aliado.errors.required"
                                    class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido *</span>
                            </div>
                        </div>

                        <div
                            class="flex flex-col justify-evenly mb-6 md:flex-row items-start pb-2 md:items-center space-y-2 md:space-y-0 ">
                            <label for="nombre" class="text-lg font-normal md:w-36 md:pr-2">Asesor:</label>
                            <select id="id_asesor" formControlName="id_asesor"
                                class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <option value="" disabled selected>Seleccione el Asesor...</option>
                                <option value="0">Ninguno</option>
                                <option *ngFor="let asesor of listarAsesores" [value]="asesor.id">
                                    {{ asesor.nombre }} {{ asesor.apellido }}
                                </option>
                            </select>
                            <div *ngIf="submittedActividad && actividadForm.controls.id_asesor.errors"
                                class="max-w-[19rem] overflow-hidden mt-1">
                                <span *ngIf="actividadForm.controls.id_asesor.errors.required"
                                    class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido *</span>
                            </div>
                        </div>
                    </div>
                    <!-- Botones Añadir y Cancelar -->
                    <div class="flex justify-center">
                        <div class="flex justify-center h-10 mt-4">
                            <button type="submit"
                                class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">Añadir
                                Nivel</button>
                        </div>
                        <div class="flex justify-center h-10 mt-4">
                            <button type="button" (click)="cancelarcrearActividad()"
                                class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300">
                                Cancelar y Regresar
                            </button>
                        </div>
                    </div>
                </form>

                <div *ngIf="mostrarNivelForm"> <!--agregar nivel-->
                    <form [formGroup]="nivelForm" (ngSubmit)="addNivelSuperAdmin()" *ngIf="currentIndex === 1" class="space-y-6 w-full">
                        <div class="grid grid-cols-1 gap-4 w-full sm:w-3/4 md:w-2/3 bg-gray-50 rounded-lg shadow-md max-md:p-4 md:px-36 md:py-10 md:my-6 mx-auto">
                            <h2 class="text-center my-8 ">Agregar Nivel</h2>
                            <div
                                class="flex flex-col mb-6 md:flex-row items-start pl-8 pr-8 pb-2 md:items-center space-y-2 md:space-y-0 md:space-x-4">
                                <label for="nivel_nombre" class="text-lg font-normal md:w-36 md:pr-2">Nombre del Nivel:</label>
                                <input type="text" id="nivel_nombre" formControlName="nombre"
                                    class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <div *ngIf="submittedNivel && nivelForm.controls.nombre.errors"
                                    class="max-w-[19rem] overflow-hidden mt-1">
                                    <span *ngIf="nivelForm.controls.nombre.errors.required"
                                        class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido
                                        *</span>
                                </div>
                            </div>
                            <div
                                class="flex flex-col mb-6 md:flex-row items-start pl-8 pr-8 pb-2 md:items-center space-y-2 md:space-y-0 md:space-x-4">
                                <label for="nivel_descripcion" class="text-lg font-normal md:w-36 md:pr-2">Descripcion del
                                    Nivel:</label>
                                <input type="text" id="nivel_descripcion" formControlName="descripcion"
                                    class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <div *ngIf="submittedNivel && nivelForm.controls.descripcion.errors"
                                    class="max-w-[19rem] overflow-hidden mt-1">
                                    <span *ngIf="nivelForm.controls.descripcion.errors.required"
                                        class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido
                                        *</span>
                                </div>
                            </div>
                            <input type="hidden" id="id_actividad" formControlName="id_actividad">

                        </div>
                        <div class="flex justify-center">
                            <div class="flex justify-center h-10 mt-4">
                                <button type="submit"
                                    class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">Guardar
                                    Nivel</button>
                            </div>
                            <div class="flex justify-center h-10 mt-4">
                                <button type="button" (click)="cancelarGlobal()"
                                    class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngIf="mostrarLeccionForm"> <!--agregar Lección-->
                    <form [formGroup]="leccionForm" (ngSubmit)="addLeccionSuperAdmin()" *ngIf="currentIndex === 2">
                        <div class="bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6 mx-auto">
                            <h2 class="text-center my-8">Agregar Lección</h2>
                            <div
                                class="flex flex-col mb-6 md:flex-row items-start pl-8 pr-8 pb-2 md:items-center space-y-2 md:space-y-0 md:space-x-4">
                                <label for="leccion_nombre" class="text-lg font-normal">Nombre de la Lección:</label>
                                <input type="text" id="leccion_nombre" formControlName="nombre"
                                    class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <div *ngIf="submittedLeccion && leccionForm.controls.nombre.errors"
                                    class="max-w-[19rem] overflow-hidden mt-1">
                                    <span *ngIf="leccionForm.controls.nombre.errors.required"
                                        class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido
                                        *</span>
                                </div>
                            </div>
                            <input type="hidden" id="id_nivel" formControlName="id_nivel">

                        </div>
                        <div class="flex justify-center">
                            <div class="flex justify-center h-10 mt-4">
                                <button type="submit"
                                    class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">Guardar
                                    Lección</button>
                            </div>
                            <div class="flex justify-center h-10 mt-4">
                                <button type="button" (click)="cancelarGlobal()"
                                    class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div *ngIf="mostrarContenidoLeccionForm"> <!--agregar contenido por leccion-->
                    <form [formGroup]="contenidoLeccionForm" (ngSubmit)="addContenidoLeccionSuperAdmin()"
                        *ngIf="currentIndex === 3">
                        <div class="bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6 mx-auto">
                            <h2 class="text-center my-8">Agregar Contenido a la Lección</h2>
                            <div
                                class="flex flex-col mb-6 md:flex-row items-start pl-8 pr-8 pb-2 md:items-center space-y-2 md:space-y-0 md:space-x-4">
                                <label for="titulo" class="text-lg font-normal">Título:</label>
                                <input type="text" id="titulo" formControlName="titulo"
                                    class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <div *ngIf="submittedContent && contenidoLeccionForm.controls.titulo.errors"
                                    class="max-w-[19rem] overflow-hidden mt-1">
                                    <span *ngIf="contenidoLeccionForm.controls.titulo.errors.required"
                                        class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido
                                        *</span>
                                </div>
                            </div>
                            <div
                                class="flex flex-col mb-6 md:flex-row items-start pl-8 pr-8 pb-2 md:items-center space-y-2 md:space-y-0 md:space-x-4">
                                <label for="descripcion" class="text-lg font-normal">Descripción:</label>
                                <input type="text" id="descripcion" formControlName="descripcion"
                                    class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                <div *ngIf="submittedContent && contenidoLeccionForm.controls.descripcion.errors"
                                    class="max-w-[19rem] overflow-hidden mt-1">
                                    <span *ngIf="contenidoLeccionForm.controls.descripcion.errors.required"
                                        class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido
                                        *</span>
                                </div>
                            </div>
                            <div
                                class="flex flex-col mb-6 md:flex-row items-start pl-8 pr-8 pb-2 md:items-center space-y-2 md:space-y-0 md:space-x-4">
                                <label for="descripcion" class="text-lg font-normal">Tipo de dato:</label>
                                <select id="id_tipo_dato" formControlName="id_tipo_dato"
                                    class="p-2 h-14 w-full mb-2 border rounded-md bg-gray-200 focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
                                    <option value="" disabled selected>Seleccione el tipo de dato...</option>
                                    <option *ngFor="let tipodato of listarTipoDato" [value]="tipodato.id">
                                        {{tipodato.nombre}}</option>
                                </select>
                                <div *ngIf="submittedContent && contenidoLeccionForm.controls.id_tipo_dato.errors"
                                    class="max-w-[19rem] overflow-hidden mt-1">
                                    <span *ngIf="contenidoLeccionForm.controls.id_tipo_dato.errors.required"
                                        class="text-red-700 pl-2 rounded-lg inline-block">Este campo es requerido
                                        *</span>
                                </div>
                            </div>
                            <div
                                class="flex flex-col mb-6 md:flex-row items-start pl-8 pr-8 pb-2 md:items-center space-y-2 md:space-y-0 md:space-x-4">

                                <ng-container [ngSwitch]="contenidoLeccionForm.get('id_tipo_dato').value">
                                    <div *ngSwitchCase="'1'">
                                        <input type="text" id="fuente" formControlName="fuente"
                                            placeholder="Example http://example.com"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        <div *ngIf="submitted && contenidoLeccionForm.controls.fuente.errors"
                                            class="max-w-[19rem] overflow-hidden mt-1">
                                            <span *ngIf="contenidoLeccionForm.controls.fuente.errors.required"
                                                class="text-red-700 pl-2 rounded-lg inline-block">Este campo es
                                                requerido *</span>
                                        </div>
                                    </div>

                                    <div *ngSwitchCase="'2'">
                                        <input type="text" id="fuente" formControlName="Multimedia"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        <div *ngIf="submitted && contenidoLeccionForm.controls.Multimedia.errors"
                                            class="max-w-[19rem] overflow-hidden mt-1">
                                            <span *ngIf="contenidoLeccionForm.controls.Multimedia.errors.required"
                                                class="text-red-700 pl-2 rounded-lg inline-block">Este campo es
                                                requerido *</span>
                                        </div>
                                    </div>

                                    <div *ngSwitchCase="'3'">
                                        <input type="file" id="fuente" formControlName="Imagen"
                                            (change)="onFileSelected($event)"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        <div *ngIf="submitted && contenidoLeccionForm.controls.Imagen.errors"
                                            class="max-w-[19rem] overflow-hidden mt-1">
                                            <span *ngIf="contenidoLeccionForm.controls.Imagen.errors.required"
                                                class="text-red-700 pl-2 rounded-lg inline-block">Este campo es
                                                requerido *</span>
                                        </div>
                                    </div>

                                    <div *ngSwitchCase="'4'">
                                        <input type="text" id="fuente" formControlName="Pdf"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        <div *ngIf="submitted && contenidoLeccionForm.controls.Pdf.errors"
                                            class="max-w-[19rem] overflow-hidden mt-1">
                                            <span *ngIf="contenidoLeccionForm.controls.Pdf.errors.required"
                                                class="text-red-700 pl-2 rounded-lg inline-block">Este campo es
                                                requerido *</span>
                                        </div>
                                    </div>

                                    <div *ngSwitchCase="'5'">
                                        <input type="text" id="fuente" formControlName="fuente"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                        <div *ngIf="submitted && contenidoLeccionForm.controls.fuente.errors"
                                            class="max-w-[19rem] overflow-hidden mt-1">
                                            <span *ngIf="contenidoLeccionForm.controls.fuente.errors.required"
                                                class="text-red-700 pl-2 rounded-lg inline-block">Este campo es
                                                requerido *</span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>

                            <input type="hidden" id="id_leccion" formControlName="id_leccion">

                        </div>
                        <div class="flex justify-center">
                            <div class="flex justify-center h-10 mt-4">
                                <button type="button" (click)="addContenidoLeccionSuperAdmin()"
                                    class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">
                                    Guardar leccion
                                </button>
                            </div>
                            <div class="flex justify-center h-10 mt-4">
                                <button type="button" (click)="cancelarGlobal()"
                                    class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300">
                                    Cancelar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>