<div class="container mx-auto p-0 pt-2 ">
    <header class="flex flex-col md:flex-row justify-between items-center  md:pl-4 mt-2">
        <app-header [title] [subtitle]="'Agregar Actividades'"></app-header>
    </header>
    <div class="flex items-center justify-center font-poppins">
        <div class="w-full">
            <div class="max-w-full md:max-w-7xl mx-auto bg-gray-50 rounded-xl p-4 sm:p-8 md:p-16">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <!-- Actividad -->
                    <div class="bg-[#e6e6e6] p-4 rounded-lg shadow">
                        <h2 class="text-xl text-center font-semibold  text-[#FFB000] mb-4 italic font-poppins">Actividad</h2>
                        <form [formGroup]="actividadForm">
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Nombre de la actividad</label>
                                <input type="text" class="w-full p-2 border rounded" formControlName="nombre">
                            </div>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Descripción de la actividad</label>
                                <textarea class="w-full p-2 border rounded" rows="3" formControlName="descripcion"></textarea>
                            </div>

                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Tipo de dato</label>
                                <select class="w-full p-2 border rounded" formControlName="id_tipo_dato" (change)="onTipoDatoChange()">
                                    <option *ngFor="let tipodato of listarTipoDato" [value]="tipodato.id">
                                        {{tipodato.nombre}}</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <!-- <ng-container [ngSwitch]="actividadForm.get('id_tipo_dato').value">
                                    <div *ngSwitchCase="'1'">
                                        <input type="text" id="fuente" formControlName="fuente" placeholder="Example http://example.com" class="w-full p-2 border rounded">
                                    </div>

                                    <div *ngSwitchCase="'2'">
                                        <input type="file" id="fuente" formControlName="fuente" (change)="onFileSelected($event)" class="w-full p-2 border rounded">
                                    </div>

                                    <div *ngSwitchCase="'3'">
                                        <input type="file" id="fuente" formControlName="fuente"class="w-full p-2 border rounded">
                                    </div>

                                    <div *ngSwitchCase="'4'">
                                        <input type="text" id="fuente" formControlName="fuente" class="w-full p-2 border rounded">
                                    </div>
                                </ng-container> -->
                                <ng-container [ngSwitch]="actividadForm.get('id_tipo_dato').value">
                                    <!--video-->
                                    <div class="mb-4" *ngSwitchCase="'1'"> 
                                      <label class="block text-sm font-medium text-gray-700 mb-1" for="nombre">Link del video</label>
                                      <input type="text" id="fuente" formControlName="ruta_multi" placeholder="Example http://example.com"
                                        (input)="onTextInput($event)"
                                        class="w-full p-2 border rounded ">
                                      <div *ngIf="formSubmitted && actividadForm.get('ruta_multi')?.invalid" class="error text-red-700">
                                        Este campo es obligatorio.
                                      </div>
                                    </div>

                                    <!--imagen-->
                        
                                    <div class="mb-4" *ngSwitchCase="'2'">
                                      <label class="text-sm font-normal relative cursor-pointer flex flex-row items-center  flex-none justify-center" for="nombre">
                                        <input type="file" id="fuente" class="hidden" accept="image/*" #fileInput
                                          (change)="onFileSelecteds($event, 'ruta_multi')">
                                        <span (click)="triggerFileInput()"
                                          class="text-black px-4 py-2 border-2 border-blue-300 rounded-lg inline-flex items-center bg-white justify-center hover:bg-blue-100 ml-3">
                                          Subir Imagen
                                          <fa-icon [icon]="faImages" class="text-md ml-2"></fa-icon>
                                        </span>
                                      </label>
                                      <img *ngIf="rutaPreview" [src]="rutaPreview" alt="Vista previa de la ruta"
                                        class="mt-4 preview-image border rounded-md object-cover md:text-center w-52 h-52"
                                        class="mt-4 preview-image border rounded-md object-cover md:text-center small-preview ">
                                      <div>
                        
                                      </div>
                                      <div *ngIf="formSubmitted && actividadForm.get('ruta_multi')?.invalid" class="error text-red-700">
                                        Este campo es obligatorio.
                                      </div>
                                    </div>

                                    <!--pdf-->
                        
                                    <div class="mb-4" *ngSwitchCase="'3'">
                                      <label class="text-sm font-normal relative cursor-pointer flex flex-row items-center flex-none justify-center" for="nombre">
                                        <input type="file" id="fuente" class="hidden" accept="application/pdf" #fileInput
                                          (change)="onFileSelecteds($event, 'ruta_documento')">
                                        <span (click)="triggerFileInput()"
                                          class="text-black px-4 py-2 border-2 border-blue-300 rounded-lg inline-flex items-center bg-white justify-center hover:bg-blue-100 ml-3">
                                          Subir PDF
                                          <fa-icon [icon]="faImages" class="text-md ml-2"></fa-icon>
                                        </span>
                                      </label>
                                      <div *ngIf="formSubmitted && actividadForm.get('ruta_multi')?.invalid" class="error text-red-700">
                                        Este campo es obligatorio.
                                      </div>
                                      <div *ngIf="actividadForm.get('ruta_multi')?.value" class="mt-2 text-gray-500 text-center">
                                        Archivo seleccionado: {{ actividadForm.get('ruta_multi')?.value?.name }}
                                      </div>
                                    </div>
                        
                                    <!--texto-->

                                    <div class="mb-4" *ngSwitchCase="'4'">
                                      <label class="text-xl font-normal flex-none justify-center" for="nombre"></label>
                                      <!-- <input type="text" id="fuente" formControlName="ruta_multi" (input)="onTextInput($event)" placeholder="Texto de la actividad"
                                        class="w-full p-2 border rounded "> -->
                                        <textarea type="text" id="fuente" formControlName="ruta_multi" (input)="onTextInput($event)" placeholder="Texto de la actividad"
                                        class="w-full p-2 border rounded "></textarea>
                                      <div *ngIf="formSubmitted && actividadForm.get('ruta_multi')?.invalid" class="error text-red-700">
                                        Este campo es obligatorio.
                                      </div>
                                    </div>
                        
                        
                                  </ng-container>

                            </div>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Aliado</label>
                                <select formControlName="id_aliado" (change)="onAliadoChange($event)"
                                    class="w-full p-2 border rounded">
                                    <option value="" disabled selected>Seleccione el Aliado...</option>
                                    <option *ngFor="let aliado of listarAliadoo" [value]="aliado.id">
                                        {{aliado.nombre}}
                                    </option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Asesor</label>
                                <select formControlName="id_asesor" class="w-full p-2 border rounded">
                                    <option *ngFor="let asesor of listarAsesores" [value]="asesor.id">
                                        {{ asesor.nombre }} {{ asesor.apellido }}
                                    </option>
                                </select>
                            </div>

                            <div class="flex justify-center h-10 mt-4">
                                <button type="button" (click)="addActividadSuperAdmin()"
                                    class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">qqqqq
                                    </button>
                            </div>
                        </form>
                    </div>

                    <!-- Nivel -->
                    <div class="bg-[#e6e6e6] p-4 rounded-lg shadow">
                        <h2 class="text-xl text-center font-semibold text-[#FFB000] mb-4 italic font-poppins">Nivel</h2>
                        <form [formGroup]="nivelForm">
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Nombre del nivel</label>
                                <input type="text" class="w-full p-2 border rounded" formControlName="nombre">
                            </div>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Descripción del nivel</label>
                                <textarea class="w-full p-2 border rounded" rows="3" formControlName="descripcion"></textarea>
                            </div>
                            <!-- Botón para agregar -->
                            <div class="flex justify-end items-center mb-4">
                                <span class="mr-3 text-[#FFB000] text-[18px] italic mb-1"
                                    style="font-weight: 600;">Agregar otro nivel</span>
                                <a (click)="agregarOtroNivel()" [routerLink]="'#'"
                                    class="bg-[#FFB000] text-white w-16 h-8 rounded-lg flex items-center justify-center no-underline">
                                    <span class="text-3xl font-semibold leading-none ">+</span>
                                </a>
                            </div>
                            <input type="hidden" id="id_actividad" formControlName="id_actividad">
                        </form>
                    </div>

                    <!-- Contenido -->
                    <div class="bg-[#e6e6e6] p-4 rounded-lg shadow">
                        <h2 class="text-xl text-center font-semibold text-[#FFB000] mb-4 italic font-poppins">Contenido
                        </h2>
                        <div class="mb-4">
                            <label class="block text-sm font-medium text-gray-700 mb-1">Nivel</label>
                            <select class="w-full p-2 border rounded">
                                <option *ngFor="let vernivel of listarNiveles" [value]="vernivel.id">
                                    {{vernivel.nombre}}</option>
                            </select>
                        </div>
                        <form [formGroup]="leccionForm" >
                            <h3 class="text-lg text-center font-semibold mb-2 font-poppins">Agregar lección</h3>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Nombre de la lección</label>
                                <input formControlName="nombre" type="text" class="w-full p-2 border rounded">
                            </div>

                            <input type="hidden" id="id_nivel" formControlName="id_nivel">
                        </form>

                        <form [formGroup]="contenidoLeccionForm">
                            <h3 class="text-lg text-center font-semibold mb-2 font-poppins">Agregar contenido a la
                                lección
                            </h3>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Título</label>
                                <input formControlName="titulo" type="text" class="w-full p-2 border rounded">
                            </div>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Descripción</label>
                                <textarea class="w-full p-2 border rounded" rows="3" formControlName="descripcion"></textarea>
                            </div>
                            <div class="mb-4">
                                <label class="block text-sm font-medium text-gray-700 mb-1">Tipo de dato</label>
                                <select class="w-full p-2 border rounded" formControlName="id_tipo_dato">
                                    <option *ngFor="let tipodato of listarTipoDato" [value]="tipodato.id">
                                        {{tipodato.nombre}}</option>
                                </select>
                            </div>
                            <div class="mb-4">
                                <!-- toca cambiarlo para que acepte dependiendo si guardo imagen,pdf,video,texto -->
                                <!-- <label class="block text-sm font-medium text-gray-700 mb-1">Fuente</label>
                                <textarea class="w-full p-2 border rounded" rows="3"></textarea> -->
                                <ng-container [ngSwitch]="contenidoLeccionForm.get('id_tipo_dato').value">
                                    <div *ngSwitchCase="'1'">
                                        <input type="text" id="fuente" formControlName="fuente"
                                            placeholder="Example http://example.com"
                                            class="w-full p-2 border rounded">
                                    </div>

                                    <div *ngSwitchCase="'2'">
                                        <input type="text" id="fuente" formControlName="Multimedia"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    </div>

                                    <div *ngSwitchCase="'3'">
                                        <input type="file" id="fuente" formControlName="Imagen"
                                            (change)="onFileSelected($event)"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    </div>

                                    <div *ngSwitchCase="'4'">
                                        <input type="text" id="fuente" formControlName="Pdf"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    </div>

                                    <div *ngSwitchCase="'5'">
                                        <input type="text" id="fuente" formControlName="fuente"
                                            class="w-full md:max-w-screen-md px-3 py-2 bg-gray-200 border-0 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                                    </div>
                                </ng-container>
                            </div>
                            <input type="hidden" id="id_leccion" formControlName="id_leccion">
                        </form>
                    </div>
                </div>
            </div>
            <div class="mt-6 text-center">
                <button
                    class="bg-orange-500 text-white px-20 py-2 rounded-full text-lg font-semibold italic text-[30px] font-poppins">Finalizar</button>
            </div>

        </div>
    </div>
</div>