.image-container {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #f59e0b;
}

.edit-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  padding: 0.5rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.basic-info {
  margin-top: 75px; /* Ajusta este valor según sea necesario */
}

/* @media (max-width: 769px) {
  .image-container {
    top: -50px;
  } 
} */