<form [formGroup]="asesorForm" (ngSubmit)="editAsesor()">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <div class="container mx-auto px-4 py-6 md:py-12">
        <!-- Encabezado -->
        <header class="flex flex-col md:flex-row justify-between items-center mb-6 md:pl-4 mt-2">
            <app-header [title] [subtitle]="'Perfil'"></app-header>
        </header>

        <div class="w-full  bg-[#FAFAFA] md:py-12 md:px-16">

            <!-- Contenido -->
            <div class="md:flex gap-4 items-center w-full">

                <div class=" md:max-w-[25rem]">

                    <div
                        class="absolute max-[800px]:translate-x-1/2 max-[1281px]:translate-x-16 min-[1282px]:translate-x-20 transform  -translate-y-1/2">
                        <img src="../../../assets/images/perfilimg.webp" alt="Imagen"
                            class="w-44 h-44 rounded-full border-[5px] border-amber-500" loading="lazy" />
                        <button class="absolute bottom-0 left-[70%] bg-white rounded-full p-2 text-gray-500 shadow">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>


                    <div class="bg-[#e6e6e6]  rounded-lg p-4 h-full md:max-w-[45rem]">

                        <h5 class="text-xl font-bold mt-20 text-center">Información Básica</h5>

                        <label for="nombre" class="block mt-4 mb-2">Nombre(s)</label>
                        <input type="text" id="nombre" formControlName="nombre" [readonly]="blockedInputs"
                            class="p-2 h-12 w-full  border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />

                        <label for="apellido" class="block mb-2 mt-4">Apellido(s)</label>
                        <input type="text" id="apellido" formControlName="apellido" [readonly]="blockedInputs"
                            class="p-2 h-12 w-full border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />

                        <label for="direccion" class="block mb-2 mt-4">Direccion</label>
                        <input type="text" id="direccion" formControlName="direccion" [readonly]="blockedInputs"
                            class="p-2 h-12 w-full border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
                        
                        <label for="email" class="block mb-2 mt-4">Correo Electronico</label>
                        <input type="text" id="email" formControlName="email" [readonly]="blockedInputs"
                            class="p-2 h-12 w-full border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />

                        <label for="genero" class="block mb-2 mt-4">Género</label>
                        <select id="genero" formControlName="genero"
                            class="p-2 h-12 w-full border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                            <option value="" disabled selected>Seleccionar Género...</option>
                            <option value="Masculino">Masculino</option>
                            <option value="Femenino">Femenino</option>
                            <option value="Otro">Otro</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>