.image-container {
    position: absolute;
    top: -75px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .profile-image {
    width: auto;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #f59e0b;
  }
  
  .edit-button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .basic-info {
    margin-top: 75px; /* Ajusta este valor según sea necesario */
  }

  /* .banners{
    height: 65vh;
  } */
  
  /* @media (max-width: 769px) {
    .image-container {
      top: -50px;
    } 
  } */
  .spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: radial-gradient(farthest-side,#FA7D00 94%,#0000) top/9px 9px no-repeat,
           conic-gradient(#0000 30%,#FA7D00);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
    animation: spinner-c7wet2 1s infinite linear;
  }
  
  @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
  }
