<form [formGroup]="emprendedorForm">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <div class="container mx-auto px-4 py-6 md:py-12">
        <!-- Encabezado -->
        <header class="flex flex-col md:flex-row justify-between items-center mb-6 md:pl-4 mt-2">
            <app-header [title] [subtitle]="'Perfil'"></app-header>
        </header>

        <div class="w-full border bg-[#FAFAFA]">

            <!-- Contenido -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6 items-center ml-[4%]">

                <!-- Primera Columna -->
                <div class="bg-[#e6e6e6] rounded-lg p-4 h-[80%] w-[80%]">

                    <!-- Estilo de la imagen -->
                    <div class="absolute top-60 left-[35%] transform -translate-x-1/2 -translate-y-1/2">
                        <img src="../../../assets/images/perfilimg.webp" alt="Imagen"
                            class="w-44 h-44 rounded-full border-[5px] border-amber-500" loading="lazy" />
                        <button class="absolute bottom-0 left-[70%] bg-white rounded-full p-2 text-gray-500 shadow">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </div>

                    <h5 class="text-xl font-bold mt-4 text-center">Información Básica</h5>

                    <label for="nombre" class="block mt-4 mb-2">Nombre(s)</label>
                    <input type="text" id="nombre" formControlName="nombre" [readonly]="blockedInputs"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />

                    <label for="apellido" class="block mb-2 mt-4">Apellido(s)</label>
                    <input type="text" id="apellido" formControlName="apellido" [readonly]="blockedInputs"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
                        <label for="tipodocumento" class="block mb-2">Tipo de Documento</label>
                        <label for="documento" class="block mb-2">Número de Documento</label>
                        <select id="tipodocumento" formControlName="nombretipodoc"
                            class="p-2 h-12 w-full mb-2 mt-[-10%] border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                            <option value="" disabled selected>Seleccionar tipo de documento...</option>
                            <option value="1">Cédula ciudadanía</option>
                            <option value="2">Pasaporte</option>
                            <option value="3">Carnet de Extranjería</option>
                        </select>
                        
                        <!-- Este es el input del 'Número de Documento' -->
                        <input type="number" id="documento" formControlName="documento" [readonly]="blockedInputs"
                            class="p-2 h-12 w-full mb-2 mt-[-10%] border rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-200" />
                    </div>

                    <label for="genero" class="block mb-2 mt-4">Género</label>
                    <select id="genero" formControlName="genero"
                        class="p-2 h-12 w-full mb-4 border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                        <option value="" disabled selected>Seleccionar Género...</option>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="otro">Otro</option>
                    </select>
                </div>

                <!-- Segunda Columna -->
                <div class="bg-[#e6e6e6] rounded-lg p-4">
                    
                    <h5 class="text-xl font-bold mb-4 text-center">Información de Personal</h5>

                    <label for="fechaNacimiento" class="block mb-2">Fecha de Nacimiento</label>
                    <input type="date" id="fecha_nac" formControlName="fecha_nac" [readonly]="blockedInputs"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none" />

                    <label for="password" class="block mb-2 mt-3">Contraseña</label>
                    <div class="relative mb-2">
                        <input [type]="hide ? 'password' : 'text'" id="contrasena" formControlName="password"
                            [readonly]="blockedInputs"
                            class="p-2 h-12 w-full border rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-200 placeholder-black" />
                        <!-- quité *ngIf="!blockedInputs" para que me dejara visualizar el campo de la contraseña -->
                        <button type="button"
                            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5 text-gray-500"
                            (click)="hide = !hide">
                            <i *ngIf="hide" class="fa fa-eye-slash text-cyan-500"></i>
                            <i *ngIf="!hide" class="fa fa-eye text-cyan-500"></i>
                        </button>
                    </div>
                    <div *ngIf="submitted && f.password.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.password.errors.required">Este campo es requerido *</div>
                        <div *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 10 caracteres *</div>
                        <div *ngIf="f.password.errors.passwordStrength">{{ f.password.errors.passwordStrength }}</div>
                    </div>

                    <h5 class="text-xl font-bold mt-6 mb-4 text-center">Dirección</h5>

                    <label for="departamento" class="block mb-2">Ciudad</label>
                    <select id="departamento" name="departamento" formControlName="departamento"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
                        <option value="" disabled selected>Seleccionar Ciudad...</option>
                        <!-- Falta colocar las ciudades -->
                    </select>

                    <label for="municipio" class="block mb-2">Municipio</label>
                    <select id="departamento" name="departamento" formControlName="departamento"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-200 appearance-none ">
                        <option value="" disabled selected>Seleccionar Municipio...</option>
                        <!-- Falta colocar los municipios -->
                    </select>

                    <label for="direccion" class="block mb-2">Dirección</label>
                    <input type="text" id="direccion" formControlName="direccion" [readonly]="blockedInputs"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-200" />

                    <!-- Estilo del botón de 'Agregar dirección' -->
                    <button type="button" class="text-amber-500 font-bold py-2 px-4 mt-2 flex items-center ml-[55%]">
                        <span class="mr-2 font-weight: 900 italic text-[18px]">Agregar dirección</span>
                        <button class="bg-amber-500 text-white w-12 h-8 rounded-lg flex items-center justify-center">
                            <span class="text-3xl font-semibold leading-none">+</span>
                        </button>
                    </button>

                    <h5 class="text-xl font-bold mt-6 mb-4 text-center">Información de Contacto</h5>

                    <label for="correo" class="block mb-2">Correo Electrónico</label>
                    <input type="text" id="correo" formControlName="email" [readonly]="bloqueado"
                        class="p-2 h-12 w-full mb-2 border rounded-md bg-white appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />

                    <label for="celular" class="block mb-2">Celular</label>
                    <input type="number" id="celular" formControlName="celular" [readonly]="blockedInputs"
                        class="p-2 h-12 w-full border rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-200" />
                </div>
            </div>


        </div>
    </div>

    <!-- Estilo de los botones -->
    <div class="flex ml-[70%] ">
        <button class="bg-amber-500 text-white font-bold py-2 px-4 rounded-full mr-2 italic" (click)="onCancel()"
            *ngIf="!blockedInputs" (click)="toggleInputsLock()">
            Cancelar
        </button>
        <button type="submit" class="bg-amber-500 text-white font-bold py-2 px-4 rounded-full italic"
            *ngIf="!blockedInputs" (click)="updateEmprendedor()">
            Guardar cambios
        </button>
    </div>

    <div class="flex ml-[68%] mt-0">
        <div class="flex justify-start">
            <button id="botonDesactivar"
                class="bg-amber-500 text-white font-bold py-2 px-4 md:-mt-4 rounded-full -pl-12 mr-3 italic"
                *ngIf="blockedInputs" (click)="desactivarEmprendedor()">Desactivar Cuenta
            </button>
        </div>
        <button id="boton" class="bg-amber-500 text-white font-bold py-2 px-4 md:-mt-4 rounded-full -pl-12 italic"
            *ngIf="blockedInputs" (click)="toggleInputsLock()"> Editar Perfil
        </button>
    </div>
</form>