<div class="container mx-auto p-0 pt-2 ">
  <header class="flex flex-col md:flex-row justify-between items-center mb-6 md:pl-4 mt-2">
    <app-header [title] [subtitle]="'Agregar empresa y apoyos'"></app-header>
  </header>
  <!-- transicion basada en el estado -->
  <div class="w-full flex items-center justify-center px-4">
    <div class="flex-1 flex flex-col sm:flex-row justify-around text-center mx-2 sm:mx-4">
      <div *ngFor="let contenedor of [1, 2, 3]; let i = index" class="contenedor mb-2 sm:mb-0"
        [class.active]="i === currentIndex">
        <div
          class="step-number flex items-center justify-center w-12 h-12 border rounded-full mx-auto text-base md:text-xl"
          [ngClass]="{'text-yellow-500 border-blue-500': i === currentIndex, 'text-gray-400 border-gray-400': i !== currentIndex}">
          {{ i + 1 }}
        </div>
        <ng-container *ngIf="i === 0">
          <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
            class=" text-base md:text-xl  whitespace-nowrap  overflow-hidden font-bold mt-2 truncate">
            Datos basicos
          </h2>
        </ng-container>
        <ng-container *ngIf="i === 1">
          <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
            class="text-base md:text-xl whitespace-nowrap overflow-hidden font-bold mt-2 truncate">
            Datos profesionales
          </h2>
        </ng-container>
        <ng-container *ngIf="i === 2">
          <h2 [ngClass]="{'text-yellow-500': i === currentIndex, 'text-gray-400': i !== currentIndex}"
            class=" text-base md:text-xl whitespace-nowrap overflow-hidden font-bold mt-2 truncate">
            Datos Apoyos
          </h2>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- Datos Basicos Lider -->
  <ng-container *ngIf="currentIndex === 0">
    <div *ngIf="currentSubSectionIndex === 0">
      <div class="space-y-8 max-w-full md:px-8">
        <div class="bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6">
          <div class="container mx-auto px-4 py-12">
            <form [formGroup]="addEmpresaForm" (ngSubmit)="crearEmpresa()">
              <div class="col-span-12 rounded-lg">
                <div class="flex flex-col">
                  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-6 mb-6">
                    <div class="w-full text-base relative">
                      <label for="nombre" class="text-lg font-normal">Nombre:</label>
                      <input type="text" formControlName="nombre"
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                      <div *ngIf="submitted && f.nombre.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.nombre.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="correo" class="text-lg font-normal">Correo Electrónico:</label>
                      <input type="email" formControlName="correo"
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                      <div *ngIf="submitted && f.correo.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.correo.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="tipodocumento" class="text-lg font-normal">Tipo de Documento:</label>
                      <select id="tipoDocumento" formControlName="id_tipo_documento"
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 max-sm:text-sm">
                        <option value="" disabled selected>Seleccionar tipo de documento...</option>
                        <option value="1">Cédula ciudadanía</option>
                        <option value="2">Pasaporte</option>
                        <option value="3">Carnet de Extranjería</option>
                        <option value="4">NIT</option>
                      </select>
                      <div *ngIf="submitted && f.id_tipo_documento.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.id_tipo_documento.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="documento" class="text-lg font-normal">Número Documento:</label>
                      <input
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        formControlName="documento" />
                      <div *ngIf="submitted && f.documento.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.documento.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="razonSocial" class="text-lg font-normal">Razón Social:</label>
                      <input
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        formControlName="razonSocial" />
                      <div *ngIf="submitted && f.razonSocial.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.razonSocial.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="departamento" class="text-lg font-normal">Departamento:</label>
                      <select id="departamento" name="departamento"
                        (change)="onDepartamentoSeleccionado($event.target.value)" formControlName="id_departamento"
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 max-sm:text-sm">
                        <option value="" disabled selected>
                          Seleccionar Departamento...
                        </option>
                        <option *ngFor="let departamento of listDepartamentos" [value]="departamento.id">
                          {{ departamento.name }}
                        </option>
                      </select>
                    </div>
                    <div class="w-full text-base relative">
                      <label for="municipio" class="text-lg font-normal">Municipio:</label>
                      <select id="municipio" name="municipio" formControlName="id_municipio"
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100 max-sm:text-xs">
                        <option value="" disabled selected>
                          Seleccionar Municipio...
                        </option>
                        <option *ngFor="let municipio of listMunicipios" [value]="municipio.id">{{municipio.nombre}}
                        </option>
                      </select>
                      <div *ngIf="submitted && f.id_municipio.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.id_municipio.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="direccion" class="text-lg font-normal">Dirección del emprendimiento:</label>
                      <input
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        formControlName="direccion" />
                      <div *ngIf="submitted && f.direccion.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block mt-2">
                        <div *ngIf="f.direccion.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>

                    <div class="w-full text-base relative">
                      <label for="telefono" class="text-lg font-normal">Teléfono:</label>
                      <input
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        formControlName="telefono" />
                    </div>
                  </div>
                  <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-4 mb-6">
                    <div class="w-full text-base relative">
                      <label type="number" for="celular" class="text-lg font-normal">Celular:</label>
                      <input
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        formControlName="celular" />
                      <div *ngIf="submitted && f.celular.errors"
                        class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block mt-2">
                        <div *ngIf="f.celular.errors.required">Este campo es requerido *</div>
                        <div *ngIf="f.celular.errors.maxlength">El número de celular no debe tener más de 10 dígitos
                        </div>
                      </div>
                    </div>
        
                    <div class="w-full text-base relative">
                      <label for="url_pagina" class="text-lg font-normal">Página web:</label>
                      <input
                        class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                        formControlName="url_pagina" />
                      <div *ngIf="submitted && f.url_pagina.errors" class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                        <div *ngIf="f.url_pagina.errors.required">Este campo es requerido *</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
        <div class="flex justify-center h-10 space-x-4">
          <button type="button" (click)="next()"
            class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">
            <span class="px-2">Siguiente</span>
            <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Datos Profesionales Lider -->
  <ng-container *ngIf="currentIndex === 1">
    <div *ngIf="currentSubSectionIndex === 0">
      <div class="space-y-8 max-w-full md:px-8">
        <div class="bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6">
          <div class="container mx-auto px-4 py-12">
            <form [formGroup]="addEmpresaForm" (ngSubmit)="crearEmpresa()">
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
                <div class="w-full text-base relative">
                  <label for="profesion" class="text-lg font-normal">Profesión:</label>
                  <input
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                    formControlName="profesion" />
                  <div *ngIf="submitted && f.profesion.errors"
                    class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.profesion.errors.required">Este campo es requerido *</div>
                  </div>
                </div>
                <div class="w-full text-base relative">
                  <label for="cargo" class="text-lg font-normal">Cargo:</label>
                  <input
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                    formControlName="cargo" />
                  <div *ngIf="submitted && f.cargo.errors" class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.cargo.errors.required">Este campo es requerido *</div>
                  </div>
                </div>
                <div class="w-full text-base relative">
                  <label for="experiencia" class="text-lg font-normal">Experiencia:</label>
                  <textarea formControlName="experiencia"
                    class="p-2 w-full h-40               
                    mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                    rows="2" cols="20"></textarea>
                  <div *ngIf="submitted && f.experiencia.errors"
                    class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.experiencia.errors.required">Este campo es requerido *</div>
                  </div>
                </div>
                <div class="w-full text-base relative">
                  <label for="funciones" class="text-lg font-normal">Funciones:</label>
                  <textarea formControlName="funciones"
                    class="p-2 w-full h-40 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100"
                    rows="4" cols="30"></textarea>
                  <div *ngIf="submitted && f.funciones.errors"
                    class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.funciones.errors.required">Este campo es requerido *</div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flex justify-center h-10 space-x-4">
          <button
            class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300"
            (click)="previous()">
            Anterior
          </button>
          <button type="button" (click)="crearEmpresa()"
          class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">
          <span class="px-2">Crear Empresa</span>
          <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
        </button>
        <button type="button" (click)="next()"
          class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">
          <span class="px-2">Agregar Apoyo</span>
          <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon>
        </button>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Datos apoyos -->
  <ng-container *ngIf="currentIndex === 2">
    <div *ngIf="currentSubSectionIndex === 0">
      <div class="space-y-8 max-w-full md:px-8">
        <div class="bg-gray-50 rounded-lg shadow-md p-4 md:p-8 md:my-6">
          <div class="container mx-auto px-4 py-12">
            <form [formGroup]="addApoyoEmpresaForm" (ngSubmit)="crearEmpresa()">
              <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2  gap-6 mb-6">
                <div class="w-full text-base relative">
                  <label for="nombre" class="text-lg font-normal">Nombre:</label>
                  <input formControlName="nombre"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                  <div *ngIf="submitted && f.nombre.errors" class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.nombre.errors.required">Este campo es requerido *</div>
                  </div>
                </div>

                <div class="w-full text-base relative">
                  <label for="apellido" class="text-lg font-normal">Apellido:</label>
                  <input formControlName="apellido"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                  <div *ngIf="submitted && g.apellido.errors"
                    class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="g.apellido.errors.required">Este campo es requerido *</div>
                  </div>
                </div>

                <div class="w-full text-base relative">
                  <label for="tipodocumento" class="text-lg font-normal">Tipo de Documento:</label>
                  <select id="tipoDocumento" formControlName="id_tipo_documento"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100">
                    <option value="" disabled selected>
                      Seleccionar tipo de documento..
                    </option>
                    h-10
                    <option value="1">Cédula ciudadanía</option>
                    <option value="2">Pasaporte</option>
                    <option value="3">Carnet de Extranjería</option>
                    <option value="4">NIT</option>
                  </select>
                  <div *ngIf="submitted && f.id_tipo_documento.errors"
                    class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.id_tipo_documento.errors.required">Este campo es requerido *</div>
                  </div>
                </div>

                <div class="w-full text-base relative">
                  <label for="numeroDocumento" class="text-lg font-normal">Número de documento:</label>
                  <input formControlName="documento"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                  <div *ngIf="submitted && f.documento.errors"
                    class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.documento.errors.required">Este campo es requerido *</div>
                  </div>
                </div>

                <div class="w-full text-base relative">
                  <label for="cargo" class="text-lg font-normal">Cargo:</label>
                  <input formControlName="cargo"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                  <div *ngIf="submitted && f.cargo.errors" class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.cargo.errors.required">Este campo es requerido *</div>
                  </div>
                </div>

                <div class="w-full text-base relative">
                  <label for="correo" class="text-lg font-normal">Correo:</label>
                  <input formControlName="email"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                  <div *ngIf="submitted && g.email.errors" class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="g.email.errors.required">Este campo es requerido *</div>
                  </div>
                </div>

                <div class="w-full text-base relative">
                  <label for="celular" class="text-lg font-normal">Celular:</label>
                  <input formControlName="celular"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                  <div *ngIf="submitted && f.celular.errors"
                    class="text-red-500 bg-red-50 pl-2 rounded-lg inline-block">
                    <div *ngIf="f.celular.errors.required">Este campo es requerido *</div>
                  </div>
                </div>

                <div class="w-full text-base relative">
                  <label for="fijo" class="text-lg font-normal">Telefono:</label>
                  <input formControlName="telefono"
                    class="p-2 w-full h-10 mb-2 border-blue-300 rounded-lg bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200 transition duration-200 ease-in hover:bg-blue-100 focus:bg-blue-100" />
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="flex justify-center h-10 space-x-4">
          <button
            class="inline-block py-0 px-16 bg-[#373435] text-xl text-white font-bold rounded-full hover:bg-gray-400 transition duration-300"
            (click)="previous()">
            Anterior
          </button>
          <button id="guardar" (click)="crearEmpresa()"
            class="inline-block py-0 px-16 bg-[#FA7D00] text-xl text-white font-bold rounded-full transition duration-300">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>