<div class="fixed z-50 inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center  p-4 font-poppins">
    <div class="bg-white border border-gray-300 p-6 sm:p-10 rounded w-full max-w-md md:max-w-lg lg:max-w-2xl h-auto">
        <h1 class="mr-3 text-amber-500 text-[20px] italic mb-1" style="font-weight: 900;">
            {{ isEditing ? 'Editar Ruta' : 'Crear Ruta' }}
        </h1>
        <form [formGroup]="rutaForm" (ngSubmit)="addRuta()">
            <div>
                <div class="relative mx-2 my-2">
                    <label for="nombre" class="block mb-2 text-black">Nombre</label>
                    <input type="text" id="nombre" formControlName="nombre" required class="p-2 h-12 w-full border rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
                </div>


                <!-- Toggle Field -->
                <div *ngIf="isEditing">
                    <div class="mt-4 block text-sm font-medium text-gray-700 ">Activar/Desactivar Ruta
                        <fa-icon [icon]="falupa" class="text-sm right-2 transform mt-2 ml-1" mat-raised-button
                            matTooltip="Esta funcion sirve para Activar/Desactivar la ruta.Si la desactivas no podra acceder a sus funciones y tendras que activarla."
                            matTooltipPosition="right" style="color: #adb7c7;"></fa-icon>
                    </div>
                    <label class="inline-flex items-center cursor-pointer md:mt-6">
                        <input type="checkbox" class="sr-only peer" [checked]="isActive" (change)="toggleActive()"
                            formControlName="estado">
                        <div
                            class="relative w-11 h-6 bg-gray-500 peer-focus:outline-none rounded-full peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600">
                        </div>
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ isActive ? 'Activo' :
                            'Inactivo' }}</span>
                    </label>
                </div>
                <div class="flex flex-wrap justify-center mt-4">
                    <button type="button" (click)="closeModal()"
                        class="m-2 inline-block bg-gray-500 px-4 py-2 rounded text-white">
                        Cancelar
                    </button>
                    <button type="submit"
                        class="inline-flex sm:w-auto bg-[#FA7D00] px-4 py-2 rounded m-2 text-white font-bold">
                        Confirmar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>