<div class="w-full overflow-x-hidden font-poppins">
    <div class="w-full px-4 py-4 lg:py-10">
        <mat-toolbar class="flex flex-col bg-white app-header">
            <!-- Header para móvil -->
            <div class="flex justify-between items-center w-full lg:hidden">
                <img [src]="logoUrl" alt="Logo" class="w-24 h-auto">
                <div *ngIf="!isLoggedIn" class="flex flex-col items-end space-y-2">
                    <a routerLink="/auth/login" mat-button routerLinkActive="active"
                        class="no-underline text-xs bg-[#373435] text-white rounded-full font-poppins font-bold py-1 px-3">
                        Iniciar sesión
                    </a>
                    <a routerLink="/auth/registro" mat-button routerLinkActive="active"
                        class="no-underline text-xs bg-[#00B3ED] text-white rounded-full font-poppins font-bold py-1 px-3">
                        Registrarse
                    </a>
                </div>
            </div>
            
            <!-- Header para desktop -->
            <div class="hidden lg:flex justify-between items-center w-full">
                <img [src]="logoUrl" alt="Logo" class="w-64 h-auto ml-60">
                <div *ngIf="!isLoggedIn" class="flex items-center space-x-4 mr-60">
                    <a routerLink="/auth/login" mat-button routerLinkActive="active"
                        class="no-underline text-base bg-[#373435] text-white rounded-full font-poppins font-bold py-2 px-6">
                        Iniciar sesión
                    </a>
                    <a routerLink="/auth/registro" mat-button routerLinkActive="active"
                        class="no-underline text-base bg-[#00B3ED] text-white rounded-full font-poppins font-bold py-2 px-6">
                        Registrarse
                    </a>
                </div>
            </div>
        </mat-toolbar>
    </div>

    <div class="relative pt-20 pb-24 lg:pt-40 lg:pb-40 flex content-center items-center justify-center">
        <div class="absolute top-0 w-full h-full bg-center bg-cover lg:mt-20"
            style="background-image: url('assets/images/aliados.jpg');">
            <div class="w-full h-full flex items-center justify-center">
                <div class="text-center">
                    <p class="text-white text-3xl lg:text-5xl font-sans font-semibold inline">
                        Nuestros
                    </p>
                    <p class="font-bold text-3xl lg:text-5xl italic text-white inline">Aliados</p>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 lg:grid-cols-3 gap-4 mt-8 max-w-screen-lg mx-auto px-4">
        <div *ngFor="let aliado of listAliados" class="flex justify-center items-center">
            <img [src]="aliado.logo" [alt]="aliado.nombre" (click)="openModal(aliado.id)" class="w-full h-auto cursor-pointer">
        </div>
    </div>

    <footer class="bg-[#373435] text-white lg:py-8 max-sm:py-3">
        <div
            class="container flex items-center justify-between px-2 mx-auto mt-4 lg:px-4 max-lg:flex-col max-lg:text-center">
            <div class="flex items-center max-lg:flex-col">
                <img src="assets/images/logofooter.jpg" alt="logo_footer" class="mt-2 lg:h-20 h-14 max-lg:mb-4">
                <p class="lg:text-sm max-w-md ml-3 max-lg:ml-0 max-sm:text-[12px] text-justify">
                    {{ descripcion_footer }}
                </p>
            </div>
            <div class="mt-4 lg:text-right lg:mt-0">
                <p class="mb-1 text-lg lg:mb-2 lg:text-xl">Más información sobre Seed Lab</p>
                <p class="text-orange-400 mb-2 lg:mb-4 text-[12px] lg:text-xl">{{ paginaWeb }}</p>
                <h3 class="text-[12px] lg:text-3xl font-bold mb-1 lg:mb-2 italic">Atención al cliente</h3>
                <div class="flex flex-wrap lg:block">
                    <p class="text-[12px] lg:text-base w-1/2 lg:w-full">{{ telefono }}</p>
                    <p class="text-[12px] lg:text-base w-1/2 lg:w-full">{{ email }}</p>
                    <p class="text-[12px] lg:text-base w-1/2 lg:w-full">{{ direccion }}</p>
                    <p class="text-[12px] lg:text-base w-1/2 lg:w-full">{{ ubicacion }}</p>
                </div>
            </div>
        </div>
    </footer>
</div>