<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div class="container mx-auto p-0 pt-2 ">

  <!-- Encabezado -->
  <header class="flex flex-col md:flex-row justify-between items-center mb-6">
    <app-header [title] [subtitle]="'Asesorias Orientador'"></app-header>

    <!-- Barra de búsqueda -->
    <div class="relative w-3/5 md:flex-grow max-md:max-w-l lg:max-w-xl flex justify-end md:mb-10">
  
      <input type="text" [(ngModel)]="userFilter.nombre_sol" 
        class="w-full max-md:w-full h-10 max-lg:w-3/4 max-xl:w-4/5 max-lg:alig pl-2 pr-9 rounded-full border-2 bg-form-gray"
        placeholder="Buscar..." required />
      <button class="absolute md:right-3 right-1 top-1.5 bg-sky-500 p-1.5 rounded-2xl">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 text-white" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
      </button>
    </div>
  </header>

  <div class="flex flex-col mb-4 px-4 sm:px-14 mt-8">

    <!-- Contenedor principal -->
    <div class="flex flex-wrap gap-4 w-full md:w-auto ml-[10px] md:ml-[55px] items-center">
      <h5 class="mt-2 font-bold">FILTROS</h5>

      <!-- Botones de filtro -->
      <div class="flex flex-wrap items-center space-x-2 bg-gray-100 rounded-lg p-2">

        <!-- Botón de 'Sin asignar' -->
        <button id="sinAsignar"
          class="flex items-center md:px-4 px-2 py-2 text-gray-800 ease-in-out listado-aseorias italic"
          (click)="loadSinAsignar()">
          <span
            class="text-red-700 bg-white border border-red-700 rounded-lg w-6 h-6 flex items-center justify-center mr-2">
            {{ asesoriasSinAsesor.length }}
          </span>
          <span>Sin asignar</span>
        </button>

        <!-- Botón de 'Asignadas' -->
        <button id="Asignadas"
          class="btn-color flex items-center md:px-4 px-2 py-2 text-gray-800 ease-in-out listado-aseorias italic"
          (click)="loadAsignadas()">
          <span
            class="border border-green-500 text-green-500 bg-white rounded-lg w-6 h-6 flex items-center justify-center mr-2">
            {{ asesoriasConAsesor.length }}
          </span>
          <span>Asignadas</span>
        </button>
      </div>
    </div>

    <!-- Sección de tarjetas -->
    <div class="flex flex-wrap justify-center mt-6 px-2">

      <!-- Mensaje cuando no hay asesorias sin asignar -->
      <div *ngIf="asesoriasSinAsesor.length === 0 && !showAsignadasFlag" class="text-center text-gray-500 mt-6">
        No tienes asesorias pendientes por asignar
      </div>

      <!-- Mensaje cuando no hay asesorias asignadas -->
      <div *ngIf="asesoriasConAsesor.length === 0 && showAsignadasFlag" class="text-center text-gray-500 mt-6">
        Aun no asignas aliado a ninguna asesoria
      </div>

      <!-- Contenedor de las tarjetas -->
      <div class="flex flex-wrap rounded-lg overflow-hidden w-full m-4 bg-[#FAFAFA] ">
        <div *ngFor="let asesoria of (showAsignadasFlag ? asesoriasConAsesor : asesoriasSinAsesor)"
          class="relative w-full md:w-[25%] m-4">

          <!-- Contenedor de la tarjeta con el efecto de recorte -->
          <div class="relative bg-[#e6e6e6] rounded-lg overflow-hidden p-4 py-3 mt-[20px]">

            <!-- Contenido de la tarjeta -->
            <h2 class="text-lg font-black h-[3.3rem] overflow-hidden mt-[24px] ml-[4%]">{{ asesoria.Nombre_sol }}</h2>
            <p class="italic text-black mt-[-22px] ml-[4%]"><strong>Fecha: </strong> {{ asesoria.fecha.slice(0, 10) }}
            </p>
            <div
              class="block w-full h-[3.7rem] text-black focus:outline-none resize-none overflow-hidden text-ellipsis mb-3 ml-[4%]"
              title="{{ asesoria.notas }}">{{ asesoria.notas }}
            </div>
            <p class="italic text-sm text-black mb-2 ml-[4%]"><strong>Emprendedor: </strong>{{ asesoria.nombres }}</p>
            <p class="italic text-sm text-black mb-2 ml-[4%]"><strong>Correo: </strong>{{ asesoria.email }}</p>
            <p *ngIf="asesoria.aliado_redirigido" class="text-sm text-black mb-2 ml-[4%]"><strong>Aliado: </strong>{{
              asesoria.aliado_redirigido }}</p>
          </div>
          <!-- Círculo en la esquina superior derecha -->
          <div
            class="cursor-pointer absolute top-[5px] right-[-37px] sm:top-[-5px] sm:right-[-25px] sm:h-12  w-16 h-16 z-10"
            (click)="openModal(asesoria)">
            <!-- Dentro del círculo -->
            <div class="rounded-full w-12 h-12 bg-[#FAFAFA] flex items-center justify-center"
              [ngClass]="{'bg-green-500': showAsignadasFlag, 'bg-red-500': !showAsignadasFlag}">
              <i class="fa-solid fa-arrow-up-long transform rotate-45 text-white text-[24px]"></i>
            </div>
          </div>

          <!-- Recorte circular de la esquina -->
          <div
            class="absolute top-0 right-0 w-[22%] h-[22%] z-0 bg-[#FAFAFA] rounded-full transform translate-x-[28%] translate-y-[-10%]">
          </div>
        </div>
      </div>
    </div>

    <!-- Contenedor de la paginación -->
    <div class="text-center">
      <nav aria-label="Page navigation example">
        <ul class="inline-flex space-x-2 text-sm">
          <li>
            <a href="javascript:void(0)"
              class="inline-flex items-center justify-center w-6 h-6 bg-gray-500 rounded-md hover:bg-gray-300 focus:outline-none"
              (click)="changePage('previous')" [class.opacity-50]="!canGoPrevious()"
              [class.cursor-not-allowed]="!canGoPrevious()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-3 w-3 text-white mr-1 ml-2"
                fill="currentColor">
                <path
                  d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
              </svg>
            </a>
          </li>

          <ng-container *ngFor="let pageNumber of getPages()">
            <a class="no-underline text-white" href="javascript:void(0)" (click)="changePage(pageNumber)"
              [class.active]="page === pageNumber">
              <li
                class="items-center justify-center w-6 h-6 bg-amber-500 rounded-md hover:bg-gray-300 focus:outline-none ">
                {{ pageNumber }}
              </li>
            </a>
          </ng-container>

          <li>
            <a href="javascript:void(0)"
              class="inline-flex items-center justify-center w-6 h-6 bg-gray-500 rounded-md hover:bg-gray-300 focus:outline-none"
              (click)="changePage('next')" [class.opacity-50]="!canGoNext()" [class.cursor-not-allowed]="!canGoNext()">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-3 w-3 text-white ml-1 p-0 "
                fill="currentColor">
                <path
                  d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
              </svg>
            </a>
          </li>

        </ul>
      </nav>
    </div>

  </div>
</div>