/* Estilos globales */
body,
html {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Swiper de Banners */
.banner-swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-swiper-slide {
  width: 100%;
  height: auto;
}

.banner-swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Controles de navegación y paginación */
.swiper-button-prev,
.swiper-button-next {
  color: #00b3ed;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(0, 179, 237, 0.5);
}

.swiper-pagination-bullet {
  background-color: #ccc;
}

.swiper-pagination-bullet-active {
  background-color: #fa7d00;
}

/* Swiper de Aliados */
.allies-swiper-container {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.allies-swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.allies-swiper-slide .image-container {
  width: 100%;
  max-width: 400px;
  position: relative;
  padding-top: 75%; /* Relación de aspecto 4:3 */
}

.allies-swiper-slide .image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.allies-swiper-slide .description-container {
  padding: 1rem;
}

.description-line {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .app-header img {
    margin-left: 0 !important;
    display: block;
    margin: 0 auto;
  }

  .nav-tool-items {
    margin-right: 0 !important;
    flex-direction: column;
  }

  .custom-text {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    line-height: 1.3;
  }

  .description-line {
    font-size: 0.9rem;
  }

  .allies-swiper-slide .description-container {
    padding: 0.5rem;
  }
}

/* Estilos adicionales */
.custom-swiper-pagination {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  position: absolute;
  bottom: 10px;
  left: 0;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #ccc !important;
  opacity: 1 !important;
  margin: 0 5px !important;
  cursor: pointer !important;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fa7d00 !important;
}

.custom-swiper-pagination {
  user-select: none;
}

/* Transiciones y opacidades */
.transition-opacity {
  transition: opacity 1s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}
