<div *ngIf="visible" class="fixed inset-0 z-50 overflow-y-auto bg-black bg-opacity-50 flex items-center justify-center p-4 font-poppins">
  <div class="container mx-auto w-full max-w-3xl md:max-w-4xl lg:max-w-5xl backdrop-filter backdrop-blur-sm rounded-[18px] shadow-xl overflow-hidden custom-opacity-bg">
    <div class="max-h-[90vh] overflow-y-auto">
      <div class="relative p-4 md:p-6">

        <button (click)="cerrarModal()" class="absolute top-2 right-2 text-gray-600 hover:text-gray-800 h-8 w-8 mt-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="#000000" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
        </button>

        <div class="md:flex justify-between items-center md:px-5">
          <!-- Contenedor del título y texto -->
          <div class="md:w-1/2">
            <h1 class="mb-0 font-bold md:text-5xl text-4xl font-poppins leading-tight" [style.color]="getColor()">{{ actividad.nombre }}</h1>
            <h3 class="italic"></h3>
            <p class="mb-6 leading-relaxed text-base  text-gray-800 ">{{ actividad.descripcion }}</p>
            <button (click)="irAModulo()" [style.background-color]="getColor()"
              class="py-2 px-4 mt-[8px] text-lg text-white font-bold rounded-md transition duration-300">
              Ir a Módulos
            </button>
          </div>
          
          <!-- Contenedor de la imagen -->
          <div class="mt-6 lg:mt-0 items-center flex justify-center py-6">
            <img *ngIf="imagenUrl" [src]="imagenUrl" [alt]="actividad.nombre" (error)="manejarErrorImagen()"
              class="md:h-[450px] md:w-[420px] h-[250px] w-[850px] rounded-tr-[25px] rounded-tl-[100px] rounded-bl-[25px] rounded-br-[100px] object-cover shadow-lg">
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>