<div class="fixed z-50 inset-0 bg-black bg-opacity-50 backdrop-blur-sm flex justify-center items-center p-4">
  <div class="bg-white border border-gray-300 p-6 sm:p-10 rounded-xl w-full max-w-md md:max-w-lg lg:max-w-xl h-auto">
  <h2 class="text-left text-[#FA7D00] text-xl lg:text-2xl font-semibold mb-4 font-poppins">Crear Asesoría</h2>
  <form [formGroup]="asesoriaForm" (ngSubmit)="onSubmit()">
    <div class="mb-4 font-poppins">
      <label for="nombre" class="block mb-2 text-blue-400">Nombre Solicitud:</label>
      <input type="text" id="nombre" formControlName="nombre" class="p-2 h-12 w-full border rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
    </div>
  
    <div class="mb-4 font-poppins">
      <label for="notas" class="block mb-2 text-blue-400">Notas:</label>
      <input type="text" id="notas" formControlName="notas" class="p-2 h-12 w-full border rounded-md bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200" />
    </div>

    <div class="flex flex-col lg:flex-row mb-4 font-poppins">
      <div class="lg:w-3/4 mb-4 lg:mb-0 lg:mr-4">
        <label for="nom_aliado" class="block mb-2 text-blue-400">¿Con quién quiere la asesoría?</label>
        <select id="nom_aliado" formControlName="nom_aliado" class="w-full border rounded-md px-2 py-2 bg-gray-200 appearance-none focus:outline-none focus:ring-2 focus:ring-blue-200">
          <option value="" disabled selected hidden>Seleccione</option>
          <option *ngFor="let aliado of aliados" [value]="aliado.nombre">{{ aliado.nombre }}</option>
        </select>
      </div>
      <div class="flex items-center font-poppins">
        <input type="checkbox" id="isorientador" formControlName="isorientador" (change)="onCheckboxChange($event)" class="custom-checkbox hidden">
        <label for="isorientador" class="flex items-center cursor-pointer relative lg:mt-8">
          <span class="w-6 h-6 mr-2 rounded border border-gray-300 bg-white flex-shrink-0 flex items-center justify-center custom-checkbox-span relative"></span>
          <span class="ml-1 font-bold">No sé</span>
        </label>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center mt-4 space-y-2 md:space-y-0 md:space-x-2 font-poppins">
      <button type="button" (click)="cancelarCrerAsesoria()" class="w-full md:w-auto bg-gray-500 text-white py-2 px-4 rounded">Cancelar</button>
      <button mat-button class="w-full md:w-auto bg-[#FA7D00] text-white py-2 px-4 rounded"  (click)="onSubmit()" [disabled]="isSubmitting || asesoriaForm.invalid">
        <span *ngIf="!isSubmitting">Guardar</span>
        <span *ngIf="isSubmitting" class="flex items-center">
          <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
          Guardando...
        </span>
      </button>
    </div>
  </form>
</div>
</div>
