

/* Indicador de estado en el lateral de la tarjeta */
.status-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 5px; /* Más delgado para una apariencia más limpia */
}

/* Botones que aparecen en hover */
.hover-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

/* Estilo de los botones */
.btn {
  padding: 8px 12px; /* Botones más compactos */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Botón Aceptar */
.btn-aceptar {
  background-color: lightskyblue; /* Verde */
  color: #ffffff;
}

.btn-aceptar:hover {
  background-color: lightskyblue;
  transform: scale(1.05);
}

/* Botón Rechazar */
.btn-rechazar {
  background-color: #979797; /* Rojo */
  color: #ffffff;
}

.btn-rechazar:hover {
  background-color: #979797;
  transform: scale(1.05);
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#FA7D00 94%,#0000) top/9px 9px no-repeat,
         conic-gradient(#0000 30%,#FA7D00);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
  100% {
     transform: rotate(1turn);
  }
}

/* Puedes añadir este estilo para asegurar que el spinner esté sobre los otros contenidos */
.spinner-container {
  position: fixed; /* O absolute si prefieres que se ajuste a un contenedor específico */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Asegúrate de que esté sobre otros contenidos */
}

