.container-imagen {
  width: 100%;
  height: 100%;

}

.container-imagen .imagen {
  object-fit: contain;


} 

.cancel-button {
  background-color: #ff0000;
  /* Cambia este valor al color que desees para el botón "Cancelar" */
}

.ok-button {
  background-color: #00ff00;
  /* Cambia este valor al color que desees para el botón "Elegir" */
}

@media (max-width: 900px) {
  .contenedores {
      display: block;
  }

  .contenedor {
      width: 100%;
      display: none;
  }

  .contenedor.active {
      display: block;
  }

  .navegacion {
      justify-content: space-between;
  }

  .border-red-500 {
      border-color: #ef4444;
    }
  }